body {
	background-image: url('img/bg3.png');
	background-repeat: no-repeat;
	background-size: 100% auto;
}

#red {
	background-color: rgba(220, 53, 69, 0.9);
	border-radius: 0px 20px 20px 0px;
}

#yellow {
	background-color: rgba(255, 193, 7, 0.9);
	border-radius: 20px 0px 0px 20px;
}